<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HardverApró - Free listings</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<section class="section-products">
		<div class="container">
				<div class="row justify-content-center text-center">
						<div class="col-md-8 col-lg-6">
                            <div class="header">
								<h3>⚠️ This script allows the user to extract the free / very cheap items from HardverApró and view it in a browser. 
									This page only shows free stuff. For every listing between free and 3000 Ft visit <a href="/all"><strong>/all</strong></a> page or 
									visit <a href="/price/100"><strong>/price/"yourpricelimit"</strong></a> to filter the listings. Lastly, you can visit <a href="/swap"><strong>/swap</strong></a>. ⚠️</h3>
								<br>
                                <h3>Free stuff</h3>
								<h2>On HardverApró</h2>
                                <img src="https://cdn.rios.hu/design/ha/logo-favicon.png" alt="logo" style="height: 50px; width: auto; border-radius: 10%;">
								<br>
								<br>
								<h3>Last updated: {{ time }}</h3>
								<a href="/rss">
									<h3>
										<i class="fas fa-rss-square"></i>
										RSS feed available at: <strong>/rss</strong>
									</h3>
								</a>
							</div>
						</div>
				</div>
				<div class="row">
						<!-- Examples -->
						<!-- <div class="col-md-6 col-lg-4 col-xl-3">
								<div id="product-1" class="single-product">
										<div class="part-1">
												<ul>
														<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
														<li><a href="#"><i class="fas fa-heart"></i></a></li>
														<li><a href="#"><i class="fas fa-plus"></i></a></li>
														<li><a href="#"><i class="fas fa-expand"></i></a></li>
												</ul>
										</div>
										<div class="part-2">
												<h3 class="product-title">Here Product Title</h3>
												<h4 class="product-old-price">$79.99</h4>
												<h4 class="product-price">$49.99</h4>
										</div>
								</div>
						</div>
						<div class="col-md-6 col-lg-4 col-xl-3">
								<div id="product-2" class="single-product">
										<div class="part-1">
												<span class="discount">15% off</span>
												<ul>
														<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
														<li><a href="#"><i class="fas fa-heart"></i></a></li>
														<li><a href="#"><i class="fas fa-plus"></i></a></li>
														<li><a href="#"><i class="fas fa-expand"></i></a></li>
												</ul>
										</div>
										<div class="part-2">
												<h3 class="product-title">Here Product Title</h3>
												<h4 class="product-price">$49.99</h4>
										</div>
								</div>
						</div>
						<div class="col-md-6 col-lg-4 col-xl-3">
								<div id="product-3" class="single-product">
										<div class="part-1">
												<ul>
														<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
														<li><a href="#"><i class="fas fa-heart"></i></a></li>
														<li><a href="#"><i class="fas fa-plus"></i></a></li>
														<li><a href="#"><i class="fas fa-expand"></i></a></li>
												</ul>
										</div>
										<div class="part-2">
												<h3 class="product-title">Here Product Title</h3>
												<h4 class="product-old-price">$79.99</h4>
												<h4 class="product-price">$49.99</h4>
										</div>
								</div>
						</div> -->

                        {% for item in items %}
                        <style>
                            .section-products #product-{{ item[0] }} .part-1::before {
                                background: url(" {{ item[3] }} ") no-repeat center;
                                background-size: cover;
                            }
                        </style>

						<!-- Single Product -->
						<div id="product-{{ item[0] }}" class="col-md-6 col-lg-4 col-xl-3">
							<a href= {{ item[2] }} >
                                <div class="single-product">
									<div class="part-1">
										{% if item[5] == "True" %}
										<span class="discount">
											<span class="fas fa-snowflake fa-lg" aria-hidden="true"></span> 
											Jegelve
										</span>
										{% endif %}
									</div>
									<div class="part-2">
											<h3 class="product-title">{{ item[1] }}</h3>
											<h4 class="product-price">{{ item[4] }}</h4>
									</div>
							    </div>
                            </a>
						</div>
                        {% endfor %}
				</div>
				<div class="row justify-content-center text-center">
					<div class="col-md-8 col-lg-6">
						<div class="header">
							<div class="buymecoffee">
								<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="peterrakolcza" data-color="#FFDD00" data-emoji=""  data-font="Lato" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
							</div>
						</div>
					</div>
			</div>
		</div>
</section>
<!-- partial -->
  
</body>
</html>
